@import url(../style.css);


.carrosel__primeiro {
    padding: 1rem 0;
}

.carrosel__primeiro__fundo__titulo {
    background-color: white;
    padding: 1rem;

}

.carrosel__primeiro__titulo {
    color: var(--cor--titulo--primeirocarrosel);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    padding: 0.5rem 0 ;
}

.cartao__primeiro {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
}

.descricao__cartao__primeiro {
    display: flex;
    justify-content: space-between;
}

.botoes__cartao__primeiro {
    display: flex;
    justify-content: space-between;
}

.botoes__item__cartao__primeiro {
    display: flex;
    justify-content: space-between;
}

.titulo__cartao__primeiro {
    font-size: 16px;
    font-weight: 700;
    color: var(--cor--titulo--primeirocartao);
}

.segundotitulo__cartao__primeiro {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor--subtitulo--cartaoprimeiro);
    margin: 0.5rem 0;
}

.texto__cartao__primeiro {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor--text--cartaoprimeiro);
    padding-bottom: 0.5rem;
}

.botoes__imagem__cartao__primeiro {
    padding-left: 1rem;
}

.botoes__ancora__cartao__primeiro {
    background-color: var(--cor--botao--cartaoprimeiro);
    text-decoration: none;
    padding: 1rem 2.3rem;
    color: white;
    font-weight: 700;
}

.imagem__cartao__descricao {
    padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    .carrosel__primeiro__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 65%;
    }

    .cartao__primeiro {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {

    .carrosel__conteiner {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;

    }

    .swiper {
        width: 50%;
    }

    .titulo__cartao__primeiro {
        font-size: 32px;
    }

    .texto__cartao__primeiro {
        font-size: 16px;
    }

    .descricao__cartao__primeiro {
        margin: 2em;
    }

    .cartao__primeiro {
        width: 60%;
        margin-left: 3em;
    }
    
}
